html,
body,
#root {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 19px;
  background-color: lightblue;
  color: grey;
  position: sticky;
}

.logo {
  flex: 1;
}

.header-title {
  flex: 2;
  text-align: center;
  margin-right: 25%; /* Adjust this value to move the title to the right */
}

.header-title h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.history-page-container {
  height: 100%;
  overflow-y: auto;
}

.history-container {
  position: relative;
  padding: 20px;
  min-height: 100%; /* Ensure the container takes at least 100% of viewport height */
}

.logo-container.top-left {
  max-width: 100%;
  height: auto;
}

.export-button {
  position: absolute; /* Fixed to stay at the top-right of the viewport */
  right: 10px;
  top: 10px; /* Added top padding to avoid clashing */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  width: fit-content;
  background: linear-gradient(135deg, #4fc3f7, #29b6f6);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1; /* Ensure it stays above other elements */
}

.delete-button {
  position: absolute; /* Absolute positioning relative to the page/container */
  right: 100px;
  top: 21px; /* Position it below Export button */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 20px;
  width: fit-content;
  background: linear-gradient(135deg, #4fc3f7, #29b6f6);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.history-table-container {
  margin-top: 90px; /* Increased top margin to create more space below the buttons */
}

.history-table {
  width: 100%; /* Set table width to 100% */
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f5faff;
  border-radius: 8px;
}

.history-table th,
.history-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: black; /* Changed text color to black */
}

.history-table th {
  background-color: #c1d8f0;
  font-weight: bold;
}

.history-table tbody tr:nth-child(odd) {
  background-color: #f0f0f0; /* Changed odd row color */
}

.history-table tbody tr:nth-child(even) {
  background-color: #ffffff; /* Changed even row color */
}

.history-table tbody tr:hover {
  background-color: #e0e0e0; /* Changed hover color */
}
